*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient( to bottom , blue, rgb(13, 121, 230));
    text-align: center;

}
a{
    font-family: sans-serif;
}
.header{
    background-color: rgb(252, 160, 158);
    padding-inline: 16px;
    height: 90px;

}

.nav{

    min-height: 70px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(252, 160, 158);
    
}
.nav-list{
    display: flex;
    gap: 32px;
    list-style: none;
}
.nav-list a{
    font-size: 18px;
    color: black;
    padding-block: 16px;
}
.btn{
    display: none;
    border: none;
    background: none;
    border-top: 3px solid rgb(21, 21, 21);}
    
.btn::before ,
.btn::after{
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: rgb(18, 17, 17);
    margin-top: 5px;
}
@media(max-width:750px){
    .btn{
        display: block;
        z-index: 1;
    }
    .nav-list{
        position:fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: red;
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }
    .nav.active .nav-list{
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;

}
    
}
/*  tudo isso asssima e do  sistema do menu hamburuer*/
main{
background-image: linear-gradient( to bottom , blue, rgb(13, 121, 230))
}

div{
    width: 300px;
    height: 300px;
    margin-top: 30px;
    background-color: aliceblue;
}

